# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist
.__mf__temp

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# macOS
.DS_Store

# Vim swap files
*.swp

.output

# Coverage directory used by tools like istanbul
coverage

# Unit test output
test-reports
