.idea/
.vscode/

.git/
.gitignore
.gitlab-ci-yml

.env*
**/.env*
__pycache__
**/__pycache__
*.pyc
**/*.pyc
*.log
**/*.log
*.sql
**/*.sql
*.egg-info
**/*.egg-info

Dockerfile
docker-compose.yml
.dockerignore

node_modules/
**/node_modules/
dist/
**/dist/

api/data