.idea/
.vscode/

.git/
.gitignore
.gitlab-ci-yml
.gitkeep

.env*
**/.env*
__pycache__
**/__pycache__
*.pyc
**/*.pyc
*.log
**/*.log
*.sql
**/*.sql
*.egg-info
**/*.egg-info

Dockerfile
docker-compose.yml
.dockerignore

node_modules/
**/node_modules/

# Host Nuxt caches/outputs
packages/frontend/dist
packages/frontend/.output
packages/frontend/.nuxt
**/.output/
**/.nuxt/

api/data
api/src/sysreptor_plugins/
