# This file holds environment variables used inside the Docker container.
# See https://docs.sysreptor.com/setup/configuration/

# Change this key and make sure it remains secret.
# https://docs.sysreptor.com/setup/configuration/#django-secret-key
SECRET_KEY="TODO-change-me-Z6cuMithzO0fMn3ZqJ7nTg0YJznoHiJXoJCNngQM4Kqzzd3fiYKdVx9ZidvTzqsm"

# Change keys and make sure encryption keys remain secret.
# https://docs.sysreptor.com/setup/configuration/#data-encryption-at-rest
# ENCRYPTION_KEYS='[{"id": "TODO-change-me-unique-key-id-5cdda4c0-a16c-4ae2-8a16-aa2ff258530d", "key": "256 bit (32 byte) base64 encoded AES key", "cipher": "AES-GCM", "revoked": false}]'
# DEFAULT_ENCRYPTION_KEY_ID="TODO-change-me-unique-key-id-5cdda4c0-a16c-4ae2-8a16-aa2ff258530d"

# https://docs.sysreptor.com/setup/configuration/#allowed-hosts
# ALLOWED_HOSTS="sysreptor.example.com"

# https://docs.sysreptor.com/setup/configuration/#fido2webauthn
# MFA_FIDO2_RP_ID="sysreptor.example.com"

# https://docs.sysreptor.com/setup/configuration/#reverse-proxy
# SECURE_SSL_REDIRECT=on

# Do not use debug mode in production environments
# https://docs.sysreptor.com/setup/configuration/#debug-mode
DEBUG=off

# https://docs.sysreptor.com/setup/configuration/#license-key
# LICENSE=""

# https://docs.sysreptor.com/setup/configuration/#spell-check
# SPELLCHECK_DICTIONARY_PER_USER=false

# https://docs.sysreptor.com/setup/configuration/#private-designs
# ENABLE_PRIVATE_DESIGNS=false