@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('~/assets/fonts/exo2/Exo2-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('~/assets/fonts/exo2/Exo2-Italic-VariableFont_wght.woff2') format('woff2');
}
