@import 'pdfjs-dist/web/pdf_viewer.css';

:root {
 --body-bg-color: #525659;
 --main-color: rgba(249, 249, 250, 1);
 --toolbar-height: 2rem;
 --toolbar-bg-color: #323639;
 --toolbar-border-color: rgba(12, 12, 13, 1);
 --field-color: var(--main-color);
 --field-bg-color: rgba(64, 64, 68, 1);
 --field-border-color: rgba(115, 115, 115, 1);
 --hover-bg-color: rgba(102, 102, 103, 1);
}

html {
  color-scheme: light dark;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark light;
  }
}


* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}
body {
  background-color: var(--body-bg-color);
}

.hidden, [hidden] {
  display: none !important;
}


#outerContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
#mainContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 350px;
}
#viewerContainer {
  overflow: auto;
  position: absolute;
  top: var(--toolbar-height);
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
}


#toolbarContainer {
  width: 100%;
  height: var(--toolbar-height);
  background-color: var(--toolbar-bg-color);
  box-shadow: 0 1px 0 var(--toolbar-border-color);
  border-bottom: none;
}
#toolbarViewer {
  height: var(--toolbar-height);
  display: flex;
  flex-direction: row;;
}
#toolbarViewerMiddle {
  width: max-content;
  height: var(--toolbar-height);
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
}
#toolbarViewerRight {
  float: right;
  display: flex;
  align-items: center;
  padding-right: 0.5em;
}

.toolbar {
  position: relative;
  left: 0;
  right: 0;
  z-index: 9999;
  font: message-box;

  & input,
  & button,
  & select {
    outline: none;
    font: message-box;
  }
}



.toolbarField {
  margin: 0 0.3em;
  padding: 1px 4px;
  border-radius: 2px;
  background-color: var(--field-bg-color);
  background-clip: padding-box;
  border: 1px solid var(--field-border-color);
  box-shadow: none;
  color: var(--field-color);

  &:hover, &:focus-visible {
    background-color: var(--field-bg-color);
    border: 1px solid var(--field-border-color);
  }
}

.toolbarLabel {
  min-width: 1em;
  color: var(--main-color);
  text-align: left;
  user-select: none;
  cursor: default;
}



#pageNumber {
  text-align: right;
  width: 2em;
  appearance: textfield;

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


#scaleSelect {
  cursor: pointer;

  & > option {
    color: var(--main-color);
    background-color: var(--field-bg-color);
  }
}


.toolbarButton {
  border: none;
  background: none;
  width: 1.5em;
  height: 1.5em;
  /* padding: 0.2em; */
  border-radius: 2px;
  color: var(--main-color);
  cursor: pointer;
  user-select: none;

  & svg {
    fill: var(--main-color);
  }

  &[disabled] {
    opacity: 0.5;
  }

  &:hover, &:focus-visible {
    color: var(--main-color);
    background-color: var(--hover-bg-color);
  }
}


.toolbarSpacing {
  width: 2em;
}


.findbar {
  position: absolute;
  top: calc(var(--toolbar-height) + 1px);
  right: 2em;
  z-index: 30000;
  height: auto;
  font: message-box;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  cursor: default;
  width: 26em;
  background-color: var(--toolbar-bg-color);
  padding: 1px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#findInput {
  width: 12em;
  padding: 0;
  margin-bottom: 2px;

  &::-webkit-input-placeholder {
    color: rgba(191, 191, 191, 1);
  }
}
#findbarMessageContainer {
  width: 5.5em;
  display: inline-block;
}
#findResultsCount {
  text-align: center;
  /* padding: 4px 5px; */
  margin: 5px;
}
:is(#findResultsCount, #findMsg):empty {
  display: none;
}
