/*
!.gitignore
!build.sh
!package.json
!package-lock.json
!.npmrc
!NOTICE

# Plugin directories
!/demoplugin
!/cyberchef
!/customizetheme
!/graphqlvoyager
!/checkthehash
!/projectnumber
!/webhooks
!/renderfindings
