[data-md-color-scheme="default"] {
    /* Font */
    --md-text-font: "Noto Sans";

    /* Primary color shades */
    --md-primary-fg-color: #818b06;
    --md-primary-fg-color--light: #aabb11;
    --md-primary-fg-color--dark: #818b06;
    --md-primary-bg-color: #FFFFFF;
    --md-primary-bg-color--light: #FFFFFF;
    --md-default-fg-color--light: #1E1E1EE6;

    /* Accent color shades */
    --md-accent-fg-color: #FF7300;
    --md-accent-fg-color--transparent: #FFFFFF;
    --md-accent-bg-color: #FFFFFF;
    --md-accent-bg-color--light: #FFFFFF;
  }
  
  :root > * {
    --md-typeset-a-color: #aabb11;

    /* Code block color shades */
    --md-code-hl-comment-color: #aabb11;
    /* --md-code-bg-color: #0055aa1d; */
    /* --md-code-fg-color: #0098DB; 
    --md-code-hl-string-color: #0098DB; */
   
    /* Footer */
    --md-footer-bg-color: #818b06;
    --md-footer-bg-color--dark: #818b06;
    --md-footer-fg-color: #FFFFFF;
    --md-footer-fg-color--light: #FFFFFF;
    --md-footer-fg-color--lighter: #FFFFFF;
  }

  .md-header__button.md-logo {
    padding: 0;
  }
  .md-header__button.md-logo img {
    height: 1.5rem;
  }

  .md-footer {
    margin-top: 3em;
  }

  .md-typeset__table {
    min-width: 100%;
  }
  .md-typeset table:not([class]) {
    display: table;
  }
  .md-typeset h1 {
    margin: 0;
  }
  .md-typeset h2 {
    margin: 0.5em 0 0 0;
  }
  .md-typeset ul li {
    margin-bottom: 0;
  }
  .md-typeset ol li :is(ul, ol), .md-typeset ul li :is(ul, ol) {
    margin: 0;
  }
  .md-typeset .md-button{
    color: #1E1E1EE6
  }

  .md-typeset table:not([class]) td {
    vertical-align: middle;
  }

  .md-typeset .grid.cards > :is(ul, ol) > li {
    border: .05rem solid #cccccc;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: none;
  }

  .md-nav__link:not(.md-nav__container):focus {
    color: unset;
  }
  .md-nav__link:not(.md-nav__container):hover {
    color: var(--md-accent-fg-color);
  }

  @media print {
    .no-print {
        display:none !important;
      }
  }
