@import '~/assets/fonts/exo/exo.css';
@import '@mdi/font/css/materialdesignicons.css';


// Hide scrollbar when it is not needed
// Overrides default Vuetify behavior
// See https://github.com/vuetifyjs/vuetify/issues/1197
html {
  overflow-y: auto !important;
}

body {
  font-family: $body-font-family;
  line-height: $line-height-root;
}

.login-header {
  background-color: $syslifters-darkblue !important;
}
.toast-warning {
  // Vuetify warning color
  background-color: #fb8c00 !important;
  color: black !important;
}


.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}


.flex-grow-height {
  flex-grow: 1;
  min-height: 0;
}

.flex-grow-width {
  flex-grow: 1;
  min-width: 0;
}
