# Django server secret key https://docs.djangoproject.com/en/4.1/ref/settings/#std-setting-SECRET_KEY
# Use following bash command to generate a new key
# echo "SECRET_KEY=$(openssl rand -base64 64 | tr -d '\n=')"
SECRET_KEY="TODO-change-me-Z6cuMithzO0fMn3ZqJ7nTg0YJznoHiJXoJCNngQM4Kqzzd3fiYKdVx9ZidvTzqsm"

# Data at rest encryption
# Use following bash command to generate config entries
# KEY_ID=$(uuidgen) && echo "ENCRYPTION_KEYS=[{\"id\": \"${KEY_ID}\", \"key\": \"$(openssl rand -base64 32)\", \"cipher\": \"AES-GCM\", \"revoked\": False}]\nDEFAULT_ENCRYPTION_KEY_ID=\"${KEY_ID}\""
#
# ENCRYPTION_KEYS='[{"id": "TODO-change-me-unique-key-id-5cdda4c0-a16c-4ae2-8a16-aa2ff258530d", "key": "256 bit (32 byte) base64 encoded AES key", "cipher": "AES-GCM", "revoked": false}]'
# DEFAULT_ENCRYPTION_KEY_ID=TODO-change-me-unique-key-id-5cdda4c0-a16c-4ae2-8a16-aa2ff258530d

DEBUG=off
