.CodeMirror-spellcheck-tooltip {
  color: #323235;
  background-color: white;
  font-size: 10pt;
  overflow: hidden;
  padding: 5px 10px;
  position: fixed;
  z-index: 100000;
  max-width: 400px;
  opacity: 0;
  border-radius: 6px;
  border: initial;
  box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
  transition: opacity .15s ease-in;
}

.CodeMirror-spellcheck-tooltip-title {
  margin: 6px 20px 8px 0;
  padding-left: 16px;
  position: relative;
}

.CodeMirror-spellcheck-tooltip-title::before {
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 6px;
}

.CodeMirror-spellcheck-tooltip-title-grammar::before {
  background: #d2a013;
}

.CodeMirror-spellcheck-tooltip-title-spelling::before {
  background: #f91a47;
}

.CodeMirror-spellcheck-tooltip-title-style::before {
  background: #5c4cff;
}

.CodeMirror-spellcheck-tooltip-more-details {
  width: 20px;
  height: 20px;
  opacity: .7;
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwIDRhNiA2IDAgMTAwIDEyIDYgNiAwIDAwMC0xMnptMC0xYTcgNyAwIDExMCAxNCA3IDcgMCAwMTAtMTR6bS0uNSA2aDFhLjUuNSAwIDExMCAxdjNhLjUuNSAwIDExMCAxaC0xYS41LjUgMCAxMTAtMXYtM2EuNS41IDAgMDEwLTF6bS41LTFhMSAxIDAgMTEwLTIgMSAxIDAgMDEwIDJ6IiBmaWxsPSIjM0MzRjQ5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=) 50% no-repeat;
  background-size: auto;
  background-size: 100% 100%;
  cursor: pointer;
  vertical-align: middle;
  margin: -1px 0 0 2px;
  display: inline-block;
}

.CodeMirror-spellcheck-tooltip ul {
  display: block;
  list-style-type: none;
  margin: 0.5em 0;
  padding: 0 0 0 0;
  font-family: monospace;
}

.CodeMirror-spellcheck-tooltip li {
  display: inline-block;
  margin: 0 8px 8px 0;
}

.CodeMirror-spellcheck-tooltip ul a {
  text-decoration: none;
  color: #fff;
  padding: 3px 8px 4px;
  border-radius: 4px;
  border: none;
  background-color: #45a8fc;
  cursor: pointer;
}

.CodeMirror-spellcheck-tooltip-close {
  top: 1px;
  right: 0;
  width: 34px;
  height: 34px;
  opacity: .6;
  background: transparent url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTM4IDEyLjgzTDM1LjE3IDEwIDI0IDIxLjE3IDEyLjgzIDEwIDEwIDEyLjgzIDIxLjE3IDI0IDEwIDM1LjE3IDEyLjgzIDM4IDI0IDI2LjgzIDM1LjE3IDM4IDM4IDM1LjE3IDI2LjgzIDI0eiIvPjxwYXRoIGQ9Ik0wIDBoNDh2NDhIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=) 50% no-repeat;
  background-size: 16px 16px;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

.CodeMirror-spellcheck-mark {
  background: rgba(235, 88, 88, .2);
}

.CodeMirror-spellcheck-mark-grammar {
  background: rgba(242, 179, 77, .3) !important;
  border-bottom: #f2b24c 2px solid;
}

.CodeMirror-spellcheck-mark-spelling {
  background: rgba(235, 88, 88, .2) !important;
  border-bottom: #eb5757 2px solid;
}

.CodeMirror-spellcheck-mark-style {
  background: rgba(142, 128, 255, .2) !important;
  border-bottom: #8f7fff 2px solid;
}

.CodeMirror-spellcheck-message {
  background-position: top left;
  background-repeat: no-repeat;
}
