mkdocs==1.5.3
git+https://${MKDOCS_MATERIAL_GIT_USERNAME}:${MKDOCS_MATERIAL_GIT_TOKEN}@gitlab.internal.syslifters.com/docs/mkdocs-material-insiders.git@9.1.21-insiders-4.39.0#egg=mkdocs-material
mkdocs-jupyter==0.24.6
mkdocs-simple-hooks==0.1.5
mkdocs-tooltips==0.1.0
mkdocs-redirects==1.2.1
pymdown-extensions==10.7
pillow>=10.2.0
cairosvg==2.7.1
requests>=2.28.0
reptor>=0.8
