mkdocs==1.5.2
git+https://${MKDOCS_MATERIAL_GIT_USERNAME}:${MKDOCS_MATERIAL_GIT_TOKEN}@gitlab.internal.syslifters.com/docs/mkdocs-material-insiders.git@9.1.21-insiders-4.39.0#egg=mkdocs-material
mkdocs-jupyter==0.24.2
mkdocs-simple-hooks==0.1.5
mkdocs-tooltips==0.1.0
mkdocs-redirects==1.2.1
pymdown-extensions==10.1
requests==2.31.0
pillow==10.1.0
cairosvg==2.7.1
reptor==0.8
