mkdocs==1.6.1
git+https://${MKDOCS_MATERIAL_GIT_USERNAME}:${MKDOCS_MATERIAL_GIT_TOKEN}@gitlab.internal.syslifters.com/docs/mkdocs-material-insiders.git@9.6.15-insiders-4.53.16#egg=mkdocs-material
mkdocs-jupyter==0.25.1
mkdocs-simple-hooks==0.1.5
mkdocs-tooltips==0.1.0
mkdocs-redirects==1.2.2
pymdown-extensions==10.16
pillow>=11.3.0
cairosvg==2.8.2
requests>=2.32.5
reptor>=0.32
mkdocstrings[python]==0.30.1
ruff==0.13.1
mkdocs-llmstxt==0.3.2
mkdocs-git-revision-date-localized-plugin==1.4.7
mkdocs-git-committers-plugin-2==2.5.0
mkdocs-minify-plugin==0.8.0