django == 4.2b1
django-phonenumber-field[phonenumberslite] == 7.0.0
django-csp == 3.7
django-storages == 1.13.2

djangorestframework == 3.14.0
drf-nested-routers == 0.93.4
djangorestframework-simplejwt == 5.2.2
django-filter == 22.1
adrf == 0.1.0
requests == 2.28.2
httpx == 0.23.3

psycopg2-binary == 2.9.5
gunicorn == 20.1.0
uvicorn == 0.20.0
whitenoise == 6.2.0
brotli == 1.0.9

jsonschema == 4.17.0
python-decouple == 3.6
pycryptodomex == 3.15.0
pyotp == 2.8.0
qrcode[pil] == 7.3.1
fido2 == 1.1.0
authlib == 1.2.0

lorem-text == 2.1
zipstream-new == 1.1.8
boto3==1.26.5
pillow-heif==0.7.2

# check weasyprint performance before updating: https://kozea.github.io/WeasyPerf/
# Do not update to WeasyPrint 58.0 because has an error rendering footnote-calls
weasyprint == 57.2
playwright == 1.28.0
pikepdf == 6.0.2
celery[librabbitmq] == 5.2.7

django-debug-toolbar == 3.5.0
debugpy == 1.6.3
watchdog == 2.2.0
pytest-django == 4.5.2
pytest-xdist == 3.0.2
pytest-cov == 4.0.0
elastic-apm == 6.14.0
